* {
    --backgroundColor: {{ initParams.styleSheet.backgroundColor }};
    --backgroundTextColor: {{ initParams.styleSheet.backgroundTextColor }};
    --color: {{ initParams.styleSheet.color }};
    --hightlightColor: {{ initParams.styleSheet.hightlightColor }};
    --imgUrl:url('{{ initParams.info.imgUrl }}');
    --logoUrl:url('{{ initParams.info.logo }}');
    --stipeColor: {{ initParams.styleSheet.stipe.color }};
    --stipeBgColor: {{ initParams.styleSheet.stipe.background }};
    /* 
      This is an example of how to use MotorCortex's init params in css, using a css variable
        if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
    */
    margin: 0;
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--color);
  font-family: 'Montserrat', sans-serif;
  background-color: #83d1e9;
  opacity: 0;
  background-image: url('./assets/cta-bg.png');
}

.title{
  width: 260px;
  background-color: #76c25d;
  color: #fff;
  text-align: start;
  padding-left: 30px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle{
  width: 260px;
  background-color: #273783;
  color: #fff;
  text-align: start;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  height: 30px;
    align-items: center;
}

.title,.subtitle{
  position: relative;
  left:-110%;
}


.text-wrapper{
  width: 280px;
  overflow: hidden;
  position: absolute;
  top:12%
}

.image{
  width: 165px;
  height: 350px;
  background-image: url("./assets/phone.png");
  transform: translate(-50%,-50%);
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  left: -100%;
  position: absolute;
}

