* {
    --backgroundColor: {{ initParams.styleSheet.backgroundColor }};
    --backgroundTextColor: {{ initParams.styleSheet.backgroundTextColor }};
    --color: {{ initParams.styleSheet.color }};
    --hightlightColor: {{ initParams.styleSheet.hightlightColor }};
    --imgUrl:url('{{ initParams.info.imgUrl }}');
    --logoUrl:url('{{ initParams.info.logo }}');
    /* 
      This is an example of how to use MotorCortex's init params in css, using a css variable
        if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
    */
    margin: 0;
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--color);
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
}

.title{
  position: absolute;
  top: -100%;
  text-align: center;

}

.hightlight{
  background-color: var(--hightlightColor);
  width: 600px;
  height: 100px;
  position: absolute;
  left: 0%;
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;
  top: 50%;
  left: -100%;
}

.bg {
  position: relative;
  white-space: nowrap;
  z-index: -1;
  color: var( --backgroundTextColor);
  font-weight: 900;
  text-transform: uppercase;
}

.bg:nth-of-type(even){
  left: -200%;
}

.bg:nth-of-type(odd){
  left:120%
}

.bg-wrapper{
  position:absolute;
  height: 144%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotate(340deg);
}

.image,.logo{
  width: 400px;
  height: 300px;
  background-image: var(--imgUrl);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.image{
  left: -100%;
}

.logo{
  width: 100px;
  height: 100px;
  background-image: var(--logoUrl);
  left:75%;
  top:50%;
  transform: scale(0);
}
