* {
    --backgroundColor: {{ initParams.styleSheet.backgroundColor }};
    --backgroundTextColor: {{ initParams.styleSheet.backgroundTextColor }};
    --color: {{ initParams.styleSheet.color }};
    --hightlightColor: {{ initParams.styleSheet.hightlightColor }};
    --imgUrl:url('{{ initParams.info.imgUrl }}');
    --logoUrl:url('{{ initParams.info.logo }}');
    --stipeColor: {{ initParams.styleSheet.stipe.color }};
    --stipeBgColor: {{ initParams.styleSheet.stipe.background }};
    /* 
      This is an example of how to use MotorCortex's init params in css, using a css variable
        if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
    */
    margin: 0;
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--color);
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1;
  opacity: 0;
}

.title{
  position: absolute;
  top: -100%;
  text-align: center;

}

.hightlight{
  background-color: var(--backgroundColor);
  width: 580px;
  height: 200px;
  position: absolute;
  left: 0%;
  border-top-right-radius:100px;
  border-bottom-right-radius:100px;
  top: 30%;
  left: -100%;
}

.image,.logo{
  width: 350px;
  height: 263px;
  background-image: var(--imgUrl);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.image{
  left: -100%;
}

.logo{
  width: 100px;
  height: 50px;
  background-image: var(--logoUrl);
  background-color: var(--hightlightColor);
  left: 50%;
  top: 150%;
  background-position: center;
}


.subtitle{
  background-color: var(--stipeBgColor);
  color: var(--stipeColor);
  text-align: center;
  transform: rotate(331deg) translate(-50%, -50%);
  position: absolute;
  top: 100%;
  left: 100%;
  width: 300px;
}